.menu1 {
  background-color: #F4A261;
  padding: 10px;
}

.menu1 ul {
  margin: 0; /* ajusta el margen del menu y lo pega al texto */
}

.menu1 li {
  display: inline; /* desplegar horizontalmente el menu*/
  margin-right: 20px; /* de cada elemento del menu*/
}

.menu1 a {
  text-decoration: none; /* quitar el subrayado del texto*/
  color: #264653;
  font-weight: bold;
}

.dropdown1-content {
  display: none; /* para que se quede guardado el desplegable */
  position: absolute; /* posicionar el contenido desplegable de manera absoluta en relación con el boton que activa el desplegable*/
  background-color: #E76F51;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; /*Posicion 1 en el eje Z, para saber que capa es superior*/
}

.dropdown1:hover .dropdown1-content { /*al poner ell mouse encima de la clase dropdown1*/
  display: block; /*significa que el menú desplegable se mostrará, es decir, será visible en la página.*/
}

.dropdown1-content a {
  color: #264653;
  padding: 12px 16px;
  text-decoration: none;
  display: block; /* fija el desplegable horizontalmente*/
  font-weight: normal;
}

.dropdown1-content a:hover {
  background-color: #2A9D8F;
  color: white;
}